.section_service{
    text-align: center;
}

#szerviz {
    padding:  2rem;
    text-align: center;
}

.form{
    justify-content: center;
    display: flex;
}

form{
    width: 50%;
    border-radius: 2rem;
    padding: 1rem;
}

hr{
    border-top: 1px solid #00000010;
    margin: 1rem 0;
}

.float-start{
    margin-left: 0px;
    text-align: left;
    justify-content: left;
}

.input-style{
    padding: 0.5rem;
    border: 1px solid #00000080
}
.float-end{
    float: right;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select:invalid{
    color: #00000080 !important;
}

.first{
    border-right: 0px;  
    margin-right: -5px;
}

.last{
    border-left: 0px;  
    text-align: right;
}

.last:focus, .first:focus{
    outline: none !important; 
}

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-53{
    width: 53%;
}

.w-52{
    width: 47%;
}

.w-49{
    width: 49%;
}

.w-42{
    width: 42%;
}

.w-40{
    width: 40%;
}

.w-25{
    width: 25%;
}

.connect{
    padding: 0.5rem;
}

.szerviz{
    text-align: justify;
    margin: 0% 15% 0% 15%;
    padding: 2rem;
    border: 1px solid white;
}

li{
    list-style-type: circle; 
}

#heavy {
    font-size: 4.25rem;
}

.bevezetés {
    padding: 10% 8% 10% 8%;
    margin: -1.5% 3.5% 0% 3.5% ;
    text-align: center;
}

.size {
    margin: 0% 18% 5% 18%;
}

#elmeny {
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid black;
    border-radius: 2rem;
}

@media(max-width: 700px){
    .szerviz {
        font-size: smaller;
        margin: 0% 5% 0% 5%;
    }
    form {
        width: 75%;
    }
    .input-style {
        font-size: 10px;
    }
    #heavy {
        font-size: 2.25rem;
    }
    .events {
        margin: 0%;
    }
    .events td {
        padding: none;
    }
    .size {
        margin: 0%;
    }
    table {
        padding: 0%;
    }
    img {
        width: 150px;
    }
    .events td {
        padding: 0.5rem 0.8rem !important;
    }
    .collection {
        margin: 0% 5% 0% 5% !important;
    }
    h3 {
        font-size: 10px;
    }
}

.choose-table img{
    cursor: pointer;
}

.events td {
    padding: 1.5rem 3rem;
}

.elmeny-section h3 {
    text-align: center;
}

.elmeny_section h1 {
    text-align: center;
    font-size: 2.75rem;
}

.section_service h1{
    font-size: 2.7rem;
}

#boatshow {
    display: block;
    margin-left: auto;
    width: 50%;
}

table {
    padding: 0% 0% 5% 0%;
}

.collection {
    margin: 0% 18% 7.5% 18%;
    font-size: 1.5rem;
    text-align: center;
}

.choose-table a:hover{
    -webkit-filter: brightness(65%);
    transition: 1s;
}