@font-face {
    font-family: "AUDIFont";
    src: url(files/AUDI.TTF);
}

* {
    font-family: "AUDIFont", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HEADER */

.mobile {
    display: initial;
}

.desktop {
    display: none;
}

@media(min-width: 1000px){
    .mobile {
        display: none;
    }
    
    .desktop {
        display: initial;
    }
}

.header {
    min-height: 8vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(40, 40, 40, 15%);
    border-bottom: .5px solid rgba(255, 255, 255, 20%);
    z-index: 2;
}

a.logo {
    padding: 5px;
    margin: 0 10px;
}

a.logo svg{
    width: 100px;
}

.expand {
    margin: 0 20px;
}

.expand a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 0 6px;
}

.expand a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 80%);
}

/* HEADER MOBILE */

.links {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 99%);
    right: -100%;
    top: 0;
    transition: .7s;
}

.link {
    margin-top: 40px;
}

.link a {
    display: block;
    text-align: center;
    padding: 30px 0;
    color: white;
    text-decoration: none;
    border-bottom: .5px solid rgba(255, 255, 255, 20%);
}

.openBtn {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    padding: 10px;
}

.closeBtn {
    border: none;
    color: white;
    background-color: transparent;
    font-size: 28px;
    position: absolute;
    top: 10px;
    right: 15px;
}

@media(max-width: 600px){
    .header {
        min-height: 10vh;
    }
}

/* META */

video { 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
    object-fit: cover;
}

.section {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#center {
    display: flex;
    justify-content: center;
}

.section #videoText {
    color: white;
    margin-top: 15vh;
    text-align: center;
    font-size: large;
}

.section #videoText a {
    color: white;
}

.section #videoText p {
    margin: 25px 0;
}

.section #scrollText {
    position: absolute;
    text-align: center;
    bottom: 10px;
}

.section #scrollText p {
    color: white;
    font-size: large;
    margin: 5px;
}

.section #scrollText a {
    text-decoration: none;
}

.section #scrollText img {
    width: 20px;
}

.footer {
    height: 4vh;
    width: 100%;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
}

@media(max-width: 600px){
    h1 {
        font-size: larger;
    }

    p {
        font-size: medium;
    }
}

/* KEZDOLAP */

.cardSec {
    height: 70vh;
}

.cards {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: inline;
    height: 60vh;
    width: 25vw;
    margin: 25px;
    transition: transform 1s;
    border-radius: 30px;
    text-decoration: none;
}

.cardDiv {
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
    transition: filter 1s;
    transition: transform 1s;
}

.card h2 {
    text-align: center;
    font-size: xx-large;
    color: white;
}

.card p {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 200;
    color: rgb(252, 252, 252);
}

.card:hover .cardDiv {
    transform: scale(101%);
    transition: all .5s;
    filter: brightness(1);
}

@media(max-width: 1100px){
    .cards {
        display: block;
    }
    .card {
        display: block;
        width: 94%;
        margin: 20px auto;
        height: 65vh;
    }
    .cardSec {
        height: 205vh;
    }
    .card h2 {
        font-size: 26px;
    }
    .card p {
        font-size: 16px;
    }
}

/* E-MOBILITÃS */

.greenSec {
    height: 50vh;
    display: flex;
}

.greenContent {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.greenContent img {
    height: 100%;
    float: left;
    margin-right: 15px;
}

.greenText {
    padding: 5px 0;
}

.greenText > * {
    margin-bottom: 15px;
}

@media(max-width: 1300px){
    .greenContent img {
        height: auto;
        width: 100%;
        float: none;
    }

    .greenSec {
        min-height: 100vh;
    }
}