/* Modellek */

.secModels {
    min-height: 50vh;
    padding: 0 15vw;
}

.secModels img {
    width: 45%;
    padding: 30px;
    float: left;
}

.modelsText {
    height: 100%;
    padding: 30px;
}

.modelsText p {
    margin-top: 20px;
}

@media(max-width: 700px){
    .secModels img {
        height: initial;
        width: 100%;
    }
    .secModels {
        padding: 0;
    }
}

h1 {
    margin: 20px 0;
    text-align: center; 
}

/* Márkakereskedések */